@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.sixth{
    @include flex(center,center);
    flex-direction: column;

    &__logo{
        width:50%;
        margin-top:8.75rem;
    }

    &__feature{
        margin-top:6.25rem;
    }

    &__title{
        margin-top:8.45rem;
    }

    &__container{
        @include flex(flex-start,flex-start);
        flex-direction:column;
        align-items: center;
    }
}