@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero-container{
    @include flex(center,center);
    flex-direction:column;
}

.sec-title{
    @include flex(center,center);
    flex-direction:column;
    margin-bottom:2.5rem;
}