$background-light: #F1F0F0; // very light background color
$background-middle: #E1DCD0; // mid tone beige yellowish color;
$background-dark: #E4E9D3; // sage color;
$border-color: #AFAAA7; //light gray thin border color
$maintext-color: #32302F; // maintext "black" color, WS Logo color

//some other colors that we can potentially use (uncomment to use)
// $cloud: #BDC5D5;
// $graphite: #232940;
// $light-gray: #F7F8F9;
// $list-hover-state: #2E66E512;
// $form-btn-background: #F7F8F9B2;