@font-face {
    font-family: 'Tiempos Header';
    font-weight: 400;
    font-style: normal;
    src: url('../../assets/fonts/TestTiemposHeadline-Light.otf') format("opentype");
}

@font-face {
    font-family: 'Tiempos Header';
    font-weight: 600;
    font-style: normal;
    src: url('../../assets/fonts/TestTiemposHeadline-Medium.otf') format("opentype");
}

@font-face {
    font-family: 'Tiempos Header';
    font-weight: 700;
    font-style: normal;
    src: url('../../assets/fonts/TestTiemposHeadline-Bold.otf')format("opentype");;
}

@font-face {
    font-family: 'Futura PT';
    font-weight: 400;
    font-style: normal;
    src: url('../../assets/fonts/FuturaPTLight.otf') format("opentype");
}

@font-face {
    font-family: 'Futura PT';
    font-weight: 600;
    font-style: normal;
    src: url('../../assets/fonts/FuturaPTMedium.otf') format("opentype");
}


@font-face {
    font-family: 'Futura PT';
    font-weight: 700;
    font-style: normal;
    src: url('../../assets/fonts/FuturaPTDemi.otf') format("opentype");
}
