$h1-size: 2rem;
$h1-line-height: 2.5rem;
$h2-size: 1.5rem;
$h2-line-height: 2rem;
$h3-size: 0.875rem;
$h3-line-height: 1.375rem;
$h4-size: 0.75rem;
$h4-line-height: 1.125rem;
$p1-size: 1rem;
$p1-line-height: 1.75rem;
$p2-size: 0.875rem;
$p2-line-height: 1.375rem;
$p3-size: 0.75rem;
$p3-line-height: 1.125rem;

$m-h1-size: 1.75rem;
$m-h1-line-height: 2.25rem;
$m-h2-size: 1.25rem;
$m-h2-line-height: 1.75rem;
$m-h3-size: 1.1rem;
$m-h3-line-height: 1.45rem;
$m-h4-size: 0.6875rem;
$m-h4-line-height: 1rem;
$m-p1-size: 0.9375rem;
$m-p1-line-height: 1.625rem;
$m-p2-size: 0.8125rem;
$m-p2-line-height: 1.25rem;
$m-p3-size: 0.6875rem;
$m-p3-line-height: 1rem;