@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main{
    @include flex(center,center);
    flex-direction: column;

    &__logo{
        width:50%;
        margin-top:8.75rem;
    }

    &__feature{
        margin-top:6.25rem;
    }

    &__title{
        margin-top:6rem;
    }

    &__subtitle{
        font-size:1.5rem;
        color:$maintext-color;
        margin-top:1rem;
        font-family: 'Tiempos Header';
        font-weight:600;
    }
}